#toggleLogin{
    padding-right: 15px;
	cursor: pointer;
}

#loginAlert {
    display:none;
}

#tweetSuccess {   
    display:none;  
}

#tweetFail {
    display:none;
}

.mainContainer {
    padding: 20px;
}

.time {
    color: lightgrey;
}

.tweet {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}
